# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch logs and models
*.pt
runs/
outputs/

# Data
data/data/raw/
data/train/
data/val/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Misc
*.swp

static/
